@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

body{
    width: 100%;
    height: 1440px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

button{
    width: 326px;
    height: 57px;
    border: 2px solid #2890c5;
    color: #2890c5;
    text-transform:uppercase;
    font-size: 19px;
    font-weight: 900;
    margin: 16px 75px;
    background-color: transparent;
}

p{
    color: #fff;
    margin-top: 24px;
    font-size: 16px;
    font-weight: 400;
}

footer{
    background-color: #000000;
    padding: 40px 0px 20px 0px;
}